
<table class="table">
    <tr><th>Student Details</th></tr>
    <tr>     
        <td>
            <img width="300" src="~/Content/images/Itumeleng.jpg"/>
        </td>
        <td>
            
            <div class="row">
                <div class="col">Name</div>
                <div class="col">Itumeleng</div>
            </div>
            <div class="row">
                <div class="col">Surname</div>
                <div class="col">Mokgohloa</div>
            </div>
            <div class="row">
                <div class="col">Student Number</div>
                <div class="col">21532398</div>
            </div>
        </td>
    </tr>
</table>

<h3>Sequence of Steps</h3>
<ul>
    <li>Created a Supplier model</li>
    <li>Updated Product model</li>
    <li>Updated Category model </li>
    <li>Added Supplier List in ProductViewModel</li>
    <li>Added Supplier List to ProductRepository</li>
</ul>